/* Green & Brown Stylesheet */

body  { background-color: #f6f1e2; }
a:link, a:visited  { color: #322205; }
ul.products li a.button  { color: #3b2a0a!important; }
#navigation  { background-color: #daedd7; border-color: #f2f7ff; }
.nav a:hover, .nav li.current_page_item a, .nav li.current_page_parent a{ color:#222 !important; background-color: #b4d4af;}
.nav li ul li  { border-top:1px solid #fff; border-bottom:1px solid #dbdbdb; }
.nav li ul li a:hover  { background:#e7fae3 !important; color:#222 !important; }
.nav a  { border-left-color: #f2f7ff; border-right-color: #c2dfbd; }
.nav  { border-right-color: #f2f7ff; border-left-color: #c2dfbd; }

#container, #content  { border-color: #aecfa8; }
#footer-widgets, .widget_shopping_cart, .nav li ul li  { background-color: #f5fff4; }
.widget_shopping_cart h3  { background-color: #daedd7; }

#btn-cart a { background: transparent url(green-brown/btn-cart-a.png) no-repeat scroll top right; }
#btn-cart a span { background: transparent url(green-brown/btn-cart-span.png) no-repeat; }

a.button, .button.alt, .button, input.button, button.button, a.comment-reply-link, #commentform #submit, #featured-products ul.products .button {
	border: 1px solid #3b2a0a;
	border-bottom-color: #3b2a0a;
	
	/*Background*/
	background: #3b2a0a; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #3b2a0a),
					color-stop(1, #4e390f)
				);
	background: -moz-linear-gradient(
					center top,
					#3b2a0a 20%,
					#4e390f 100%
				);
}

a.button:hover, 
.button.alt:hover,
.button:hover,
input.button:hover,
button.button:hover,
a.button.hover, 
a.button.active,
#featured-products ul.products .button:hover {
	/*Background*/
	background: #4e390f; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #4e390f),
					color-stop(1, #5e4514)
				);
	background: -moz-linear-gradient(
					center top,
					#4e390f 20%,
					#5e4514 100%
				);
}

a.button:active,
.button.alt:active,
a.button.active,
input.button:active,
button.button:active,
#featured-products ul.products .button:active  {
	border-color: #20559a;
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}